{% extends "news_site/base.html" %}
{% load static %}
{% block content %}
<div id="site_selection">
    {% include 'news_site/site_master_selection.html' %}
</div>
<div id="site_list">
    {% include 'news_site/site_list.html' %}
</div>
{% endblock content %}
