{% extends "news_site/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% for o in news %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ o.author }}</a>
                    <small class="text-muted" style="float: right;">{{ o.date |date:"F d, Y"  }}</small>
                </div>
                <h2 style="text-align: center;"><a class="article-title" href="#">{{ o.title }}</a></h2>
                <br />
                {% for o1 in o.content %}
                  {% if o1.paragraph|slice:"0:6" == "!#h3#!" %}
                    <h3 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h3>
                  {% elif o1.paragraph|slice:"0:6" == "!#h4#!" %}
                    <h4 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h4>
                  {% elif o1.paragraph|slice:"0:6" == "!#h2#!" %}
                    <h2 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h2>
                  {% elif o1.paragraph|slice:"0:6" == "!#h1#!" %}
                    <h1 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h1>
                  {% elif o1.paragraph|slice:"0:6" == "!#h5#!" %}
                    <h5 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h5>
                  {% elif o1.paragraph|slice:"0:6" == "!#h6#!" %}
                    <h6 class="article-content"> {{ o1.paragraph|slice:"6:-6" }} </h6>
                  {% else %}
                    <p class="article-content"> {{ o1.paragraph }} </p>
                  {% endif %}
                {% endfor %}
                <p class="article-content"><b>References:</b> {{ o.ref }} </p>
                <p class="article-content"><b>Tags:</b> {{ o.tags }} </p>
                </div>
            </article>
          {% endfor %}
        </div>
        <div class="col-md-3">
          <div class="content-section">
            <p>
              <h3 style="text-align: center;">CATEGORY</h3>
              <br/>
              <div class="list-group">
                <a href="{% url 'show-world' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "world" onclick="link_highlight(this.id)">WORLD</a>
                <a href="{% url 'show-business' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "business" onclick="link_highlight(this.id)">BUSINESS</a>
                <a href="{% url 'show-politic' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "politic" onclick="link_highlight(this.id)">POLITICS</a>
                <a href="{% url 'show-technology' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "technology" onclick="link_highlight(this.id)">TECHNOLOGY</a>
                <a href="{% url 'show-science' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "science" onclick="link_highlight(this.id)">SCIENCE</a>
                <a href="{% url 'show-health' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "health" onclick="link_highlight(this.id)">HEALTH</a>
                <a href="{% url 'show-life' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "life" onclick="link_highlight(this.id)">LIFE</a>
                <a href="{% url 'show-opinion' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "opinion" onclick="link_highlight(this.id)">OPINION</a>
                <a href="{% url 'show-sports' %}" class="list-group-item list-group-item-light" style="text-align: center;" id = "sports" onclick="link_highlight(this.id)">SPORTS</a>
              </div>
            </p>
          </div>
        </div>
        <div class="pagination">
          <span class="step-links">
            
              {% if news.has_previous %}
                  <a href="?page={{ news.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg></a>
              {% endif %}
            
            
              <span class="current">
                &nbsp; Page <b>{{ news.number }} </b> of <b>{{ news.paginator.num_pages }}</b> &nbsp;
              </span>
              
              
              {% if news.has_next %}
                  <a href="?page={{ news.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></a>
              {% endif %}
              
          </span>
      </div>
        </div>
    
{% endblock content %}
