{% load custom_filters %}
{% load static %}

<style>
.lds-dual-ring {
  display: block;
  width: 50%;
  height: 10px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 24px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --borderWidth: 7px;
  --height: 24px;
  --width: 12px;
  --borderColor: #78b13f;
}

body {
  padding: 20px;
  text-align: center;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
}
</style>

<table class="table table-sm table-bordered table-default">
    <thead>
        <tr>
            <th scope="col" style="width: 50%;text-align: center;">Site Name</th>
            <th scope="col" style="width: 10%;text-align: center;">Last Crawling</th>
            <th scope="col" style="width: 10%;text-align: center;">Total Crawling</th>
            <th scope="col" style="width: 10%;text-align: center;">Status Crawl</th>
            <th scope="col" style="width: 30%;text-align: center;">Daily schedule</th>
            <th scope="col" style="width: 10%;text-align: center;">Action</th>
            <!-- <th scope="col" style="width: 30%;text-align: center;">Manual Schedule</th> -->
        </tr>
    </thead>
    <tbody id = 'content'>
        {% for site in sites %}
        <tr>
            <td style="text-align: center;">{{site.name}}</td>
            <td style="text-align: center;" id="last_crawling_{{site.id}}" class="last_crawling">{{site.last_succ_count}}</td>
            <td style="text-align: center;" id="total_crawling_{{site.id}}" class="total_crawling">{{ site.total_crawling }} </td>
            <td id="state_{{site.id}}">
                {% if site.state == "1" %}
                    <div class="lds-dual-ring"></div>
                {% else %}
                    <!-- <div class="center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                    </div> -->
                    <div class="check"></div>
                {% endif %}
            </td>
            <td style="text-align: center;">Schedule will run at {{site.schedule_hour}} /60</td>
            <td style="text-align: center;">
                <button onclick="clear_document({{ site.id }})">Clear</button>
            </td>
        </tr>
        {% endfor%}
        <tr>
            <td style="text-align: center;">TỔNG SỐ BÀI</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" id="tongsobai">{{tongsobai}}</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" id='count'></td>
        </tr>
        <tr>
            <td style="text-align: center;">TỔNG SỐ SITE CON</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" id="numb_sites">{{ numb_sites }}</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" id='count'></td>
        </tr>
    </tbody>
</table>
