{% load static %}
<form  class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" >Select Site Master</label>
    </div>
    <select class="custom-select"  id="site_master" onchange="getDataOnSiteMaster()">
        <option value="-1">All</option>
        {% for site_master in site_masters %}
            <option value={{site_master.id}}>{{ site_master.MasterName }}</option>
        {% endfor %}
    </select>
</form>
